body {
    padding: 0;
    margin: 0;
}
html, body{
    height: 100%;
    width: 100%;
}

#mapid {
    height: 97%;
    z-index: 0;
}

#menu {
    height: 3%;
}

.przycisk {
    height: 100%;
}

#przycisk {
    background-color: rgb(5, 197, 5);
}

#przycisk:hover {
    background-color: rgb(4, 158, 4);
}

#przycisk2 {
    background-color: rgb(228, 74, 74);
}

#przycisk2:hover {
    background-color: rgb(209, 46, 46);
}

#dane {
    position: absolute;
    right: 40px;
    bottom: 40px;
    height: 200px;
    width: 300px;
    background: #b3b1b1;
    border-color: #272727;
    border-style: solid;
    z-index: 5;
    font-size: 30px;
}

#geokoder_przycisk {
    position: absolute;
    left: 60px;
    top: 35px;
    height: 50px;
    width: 50px;
    z-index: 5;
}

#geokoder_img {
    border-color: #0e57b6;
    background: #76b6ca;
}

#geokoder_img:hover {
    border-color: #0e57b6;
    background: #a5cfdb;
}

#lupa_img {
    height: 50px;
    width: 50px;
}