body {
    padding: 0;
    margin: 0;
}
html, body, #container{
    height: 100%;
    width: 100%;
}

#mapid {
    height: 95%;
    z-index: 0;
}

#menu {
    height: 5%;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
}

#dane {
    position: absolute;
    right: 2%;
    bottom: 5%;
    height: 200px;
    width: 300px;
    background: #b3b1b1;
    border-color: #272727;
    border-style: solid;
    z-index: 5;
    font-size: 30px;
    display: block;
}

#info_przycisk {
    position: absolute;
    right: 1%;
    top: 12%;
    height: 40px;
    width: 40px;
    z-index: 5;
}