/* OGÓLNE */
body {
    padding: 0;
    margin: 0;
    font-family: 'Georgia', serif;
}
html, body, #container{
    height: 100%;
    width: 100%;
}

#mapid {
    height: 94%;
    z-index: 0;
}

/* MENU */
#menu {
    width: 100%;
    height: 2.8vw;
    line-height: 2.5vw;
    background-color: #cee5f1;
    border-bottom: 2px solid #272727;
    box-sizing: border-box;
}

.menu_side {
    height: 100%;
    width: 3%;
    float: left;
    position: relative;
    border-bottom: 1px dotted black;
}

.menu_side .tooltiptext {
    visibility: hidden;
    height: 60%;
    width: 6vw;
    margin-top: 40%;
    font-size: 1vw;
    background-color: rgb(44, 44, 44);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    left: 100%;
    line-height: 150%;
}
.tooltiptextR {
    visibility: hidden;
    height: 60%;
    width: 6vw;
    margin-top: 20%;
    font-size: 1vw;
    background-color: rgb(44, 44, 44);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    right: 100%;
    line-height: 150%;
}

.menu_side:hover .tooltiptext {
    visibility: visible;
}
.menu_side:hover .tooltiptextR {
    visibility: visible;
}

.menu_przycisk {
    height: 100%;
    width: 100%;
    border-width: 0px;
    background-color: #cee5f1;
    border-radius: 5px;
}

.menu_przycisk:hover {
    background-color: #70afd1;
    cursor: pointer;
}

#title {
    width: 88%;
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    color: #272727;
    float: left;
}

/* SEKCJA O MAPIE */
#about {
    display: none;
}

#about_content {
    color: #272727;
    display: block;
    position: absolute;
    right: 25%;
    top: 25%;
    height: 25vw;
    width: 50vw;
    padding: 10px;
    background: #cee5f1;
    border-color: #272727;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    opacity: 1;
    z-index: 10;
}

#shadow {
    display: block;
    top: 0px;
    right: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    background: #474747;
    opacity: 0.5;
    z-index: 9;
}

#cofnij {
    width: 100%;
}

.krzyżyk {
    height: 40px;
    width: 40px;
    border-width: 0px;
    background-color: #cee5f1;
    border-radius: 5px;
    float: right;
}

.krzyżyk:hover {
    background-color: #70afd1;
    cursor: pointer;
}

/* PRZYCISK INFO */
#info_przycisk {
    position: absolute;
    right: 25px;
    top: 120px;
    height: 30px;
    width: 30px;
    z-index: 5;
}

#info_img {
    background-color: #cee5f1;
    border-color: #747474;
    border-width: 1px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}

#info_img:hover {
    background-color: #9fd1ec;
    cursor: pointer;
}

/* OKIENKO Z DANYMI O OSIEDLACH */
#dane {
    font-size: 1.5vw;
    color: #272727;
    display: block;
    position: absolute;
    right: 20px;
    bottom: 20px;
    height: auto;
    width: auto;
    padding: 10px;
    background: #cee5f1;
    border-color: #272727;
    border-style: solid;
    z-index: 5;
}

/* LAYER CONTROL */
.leaflet-control-layers-toggle {
    background-image: url('img/layers2.png')!important;
    background-color: #cee5f1;
    background-size: 35px 35px;
}

.leaflet-control-layers-expanded {
	padding: 6px 10px 6px 6px;
	color: #272727!important;
	background: #cee5f1!important;
    font-size: 16px;
}

.leaflet-control-layers-separator {
	border-top: 1px solid #7e7e7e!important;
	margin: 5px -10px 5px -6px;
}

/* LEGENDA */
.info {
    padding: 6px 8px;
    background: rgba(206, 229, 241,0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.legend {
    line-height: 1.2vw;
    width: 16vw;
    color: #555;
}

.legend i {
    height: 0.9vw;
    width: 0.9vw;
    border-style: solid;
    border-width: 1px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}

/* ZOOM i POPUPY */
.leaflet-control-zoom-in, .leaflet-control-zoom-out {
    background-color: #cee5f1!important;
}
.leaflet-control-zoom-in:hover, .leaflet-control-zoom-out:hover {
    background-color: #9fd1ec!important;
}

.popupCustom .leaflet-popup-tip, .popupCustom .leaflet-popup-content-wrapper {
    background: #cee5f1;
    color: #272727;
}